<template>
<Page>
  <ActionBar title="Welcome to NativeScript-Vue!" />
  <GridLayout columns="*" rows="3*, 15*, 3*, 15*">
    <Button text="login" @tap="login" col="0" row="0" />
    <Label textWrap="true" class="message" :text="token" col="0" row="1" />

    <Button text="profile" @tap="profile" col="0" row="2" />
    <Label textWrap="true" class="message" :text="answer" col="0" row="3" />
  </GridLayout>
</Page>
</template>

<script>
export default {
  data() {
    return {
      answer: "",
      //token: ""
    }
  },

  methods: {

    async login() {
      if (await this.Login("test@test.ru", "test")) {
        this.answer = `User: was Connect`
      } else {
        this.answer = `User: was NOT Connect`
      }
    },

    async profile() {
      if (await this.GetUserProfile()) {
        this.answer = `User profile was Recive`
      } else {
        this.answer = `User profile was NOT Recive`
      }
    }

  }
}
</script>

<style scoped>
ActionBar {
  background-color: #53ba82;
  color: #ffffff;
}

.message {
  vertical-align: center;
  text-align: center;
  font-size: 20;
  color: #333333;
}
</style>
